<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %} {% endblock %}</title>
  </head>
  <body>
    <a href="{% url "Principal" %}">Home</a>
    <a href="{% url "Cursos" %}">Registro</a>
    <a href="{% url "Contacto" %}">Contáctanos</a>
    <!--CONTENIDO-->
    {% block contenido %}
    <!--Template Tag-->
    <!--block sirve para indicar que colocaremos un bloque de contenido 
    a través de nuestra variable content-->
    {% endblock %}
  </body>
</html>